.card-text  {
    font-size: initial;
    line-height: initial;
    color: black;
    font-family: monospace;
}

.edit-position {
    position: absolute;
    top: 80%;
    right: 0;
    width: 100%;
}


.card-property{
    height: 780px;
}

.card-title {
    color: black;
}

.card-img-top{
    width: 50%!important;
}